<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%= form_tag("/hotels/#{params[:id]}", method: "put") %>
        <h4 class="card-title" style="color: #FF250D;">Update Hotel Chain:</h4>
        <!--<h4 class="card-title" style="color: #FF250D;">Login</h4>-->
        <ul> 
          <li><label>Name<span class="required">*</span></label>
          <input type="text" class="form-control" name="fname" id="name"></li>

          <li><label>Office Address<span class="required">*</span></label>
          <input type="text" class="form-control" name="faddress" id="address"></li>

          <li><label>Number of Hotels<span class="required">*</span></label>
          <input type="int" class="form-control" name="fnumhotels" id="numofhotels"></li>

          <li><button type="button" class="btn btn-success" style="margin-top: 2.5%; margin-right: 2.5%">Confirm</button><button type="button" class="btn btn-danger" style="margin-top: 2.5%; margin-right: 2.5%">Cancel</button></li>

        </ul>
        <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
