<div class="row">
	<div class="col-sm"></div>
	<div id="left" class="col-sm-6">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title" style="color: #FF250D;">Search for Room</h4>

				<%= form_tag("/hotels", method: "get") do %>
					<ul id="search"> 
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Check-In Date:</h5>
							<input type="date" name="date_start" class="form-control" id="in-date">
						</li>
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Check-Out Date:</h5>
							<input type="date" name="date_end" class="form-control" id="out-date">
						</li>
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Room Capacity:</h5>
							<input type="number" class="form-control" id="room-cap" min="1" max="10" name="capacity">
						</li>
						
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Hotel Chain:</h5>
							<select class="form-control" id="hotel-sel" name="chain">
								<option value="" selected>All</option>
								<% @hotel_chains.each do |chain| %>
									<option value="<%= chain["ChainName"] %>">
										<%= chain["ChainName"] %>
									</option>
								<% end %>
							</select>
						</li>

						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Number of Stars:</h5>
							<input type="number" class="form-control" id="rating" min="1" max="5" name="rating">
						</li>
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Total Number of Rooms:</h5>
							<input type="number" class="form-control" id="numOfRooms" name="number_of_rooms">
						</li>
						<li>
							<h5 style="color: #FF250D; padding: 2.5% 0 1.5% 0;">Price ($):</h5>
							<input type="number" class="form-control" id="price" name="price">
						</li>
						<li>
							<%= submit_tag "Search", class: "btn btn-danger", :style => "margin: 2.5%;" %>
						</ul>
					<% end %>
				
				</div>
			</div>
		</div>
		<div class="col-sm"></div>
	</div>

