<div style="text-align: center;">
<h1 style="text-align: center;">We are sorry</h1>
<h4 style="text-align: center; color: gray;">The room cannot be booked with the information provided.</h4>
<%= link_to "Back to Booking", :back, class: "btn btn-secondary", :style => "text-align: center;"%>
</div