<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <%= form_tag("/rooms/#{params[:id]}", method: "put") %>


        <% if current_user.user_type == 'customer' %>
        <h4 class="card-title" style="color: #FF250D;">Update Customer:</h4>
        <!--<h4 class="card-title" style="color: #FF250D;">Login</h4>-->
        <ul> 
          <li><label>First Name<span class="required">*</span></label>
          <input type="text" class="form-control" name="ffname" id="fname"></li>

          <li><label>Last Name<span class="required">*</span></label>
          <input type="text" class="form-control" name="flname" id="lname"></li>

          <li><label>Address<span class="required">*</span></label>
          <input type="text" class="form-control" name="faddress" id="address"></li>

          <li><label>SSN/SIN<span class="required">*</span></label>
          <input type="int" class="form-control" name="fssnsin" id="ssnsin"></li>

          <li><label>User ID<span class="required">*</span></label>
          <input type="text" class="form-control" name="fuserid" id="userid"></li>

          <li><button type="button" class="btn btn-success" style="margin-top: 2.5%; margin-right: 2.5%">Confirm</button><button type="button" class="btn btn-danger" style="margin-top: 2.5%; margin-right: 2.5%">Cancel</button></li>
        </ul>
        <% end %>

        <% if current_user.user_type == 'employee' %>
        <h4 class="card-title" style="color: #FF250D;">Update Employee:</h4>
        <!--<h4 class="card-title" style="color: #FF250D;">Login</h4>-->
        <ul> 
          <li><label>First Name<span class="required">*</span></label>
          <input type="text" class="form-control" name="ffname" id="fname"></li>

          <li><label>Last Name<span class="required">*</span></label>
          <input type="text" class="form-control" name="flname" id="lname"></li>

          <li><label>Address<span class="required">*</span></label>
          <input type="text" class="form-control" name="faddress" id="address"></li>

          <li><label>SSN/SIN<span class="required">*</span></label>
          <input type="int" class="form-control" name="fssnsin" id="ssnsin"></li>

          <li><label>User ID<span class="required">*</span></label>
          <input type="text" class="form-control" name="fuserid" id="userid"></li>

          <li><label>Role<span class="required">*</span></label>
          <select class="form-control" id="sel2" id="role" name="frole">
            <option>Cleaning Staff</option>
            <option>Manager</option>
            <option>Concierge Staff</option>
            <option>General Manager</option>
            <option>Headquarters Staff</option>
            <option>Prostitute</option>
          </select></li>

          <li><button type="button" class="btn btn-success" style="margin-top: 2.5%; margin-right: 2.5%">Confirm</button><button type="button" class="btn btn-danger" style="margin-top: 2.5%; margin-right: 2.5%">Cancel</button></li>
        </ul>
        <% end %>




        <%end%>
      </div>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
